@media only screen and (min-width:320px) and (max-width:768px) {

.navbar-nav{
    width: 100%;
}
.who-we-are-content ul li span{
    display: block;
    margin: 10px auto;
}
.feedback_form_area_inner {
    width: 300px;
}
.dropdown-menu.multi-level li a {
    font-size: 15px;
    color: #555;
    display: block;
}
.feedback-form-btn{
    width: 180px;
}
.slide_form h3{
    font-size: 21px;
}
ul.who-we-are-list li{
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu { 
    left: 15%;
}
.navbar-nav .nav-item {
    padding: 8px 0px;
    border-bottom: solid 1px #fff;
    text-align: center;
}
.navbar-nav li a { 
    font-size: 14px;
    color: #fff;
}
.dropdown{
    text-align: center;
    padding: 8px 0;
    border-bottom: solid 1px #fff;
}
button.owl-prev{
    left: -20px;
}
button.owl-next{
    right: -20px;
}
.carousel-inner {
    height: 400px;
}
.page-content-banner {
    position: relative;
    height: 150px;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}
.slider-home-two .content h2{
    font-size: 30px;
    line-height: initial;
} 
.logo-section img {
    margin: 10px auto
}
.top-contact-detail {
    margin-top: 10px
}
.top-contact-detail ul {
    text-align: center;
    float: none
}
.stunning-image img {
    padding: 0;
    display: block!important;
    margin: 0 auto!important
}
.copyright-section p {
    text-align: center
}
.section-bottom-bar{
    text-align: center;
}
.copyright .powered{
    float: none;
}
.team-box-section {
    padding: 0 0px;
}


}

@media only screen and (min-width:768px) and (max-width:991px) {
.who-we-are-content h2, .core-programs h2, .popular-services h2, .gallery_section h2, 
.testimonial-bg h2, .our-consultant h2, .latest-news h2
{
  font-size: 25px;  
}
.contact-information ul li{
	font-size: 12px;
}
.navbar-collapse{
    position: absolute;
    top: 80px;
    background: #f5890d;
    z-index: 99;
    width: 100%;
    left: 0;
}
.carousel-inner {
    height: 450px !important;
}
.carousel-caption {
    top: 5%;
}
.carousel-inner::before{
    left: -75px;
}
.carousel-inner::after {
    right: -50px;  
    bottom: -20px;
}
.team figure img {
    height: auto;
}
.carousel-caption h1 {
    font-size: 30px;   
}
.navbar {
    padding: 0 !important;
}
.logo-section img {
padding: 0 0;
margin: 20px auto;
}
.portfolio-section h4 a {
    font-size: 18px;
}
.post-image img{
	width: 100%;
}
.top-contact-detail {
    padding: 15px 0
}
.top-contact-detail ul {
    text-align: center;
    float: none
}
.portfolio-detail figure img {
    width: 100%;
 }
.top-connect.social{
    float: left;
}
.flexslider{
    clear: both;
}
.prodtfo{
    clear: both;
}
.team-section-in{
    clear: both;
    padding-top: 20px;
}
.chapter-titles h3 {
    padding-top: 30px;
}
.grid-item img{
    object-fit: cover;
}
}


@media only screen and (min-width:1024px) and (max-width:1170px) {
.top-connect ul li a {
    color: #000;
    font-size: 15px;
}
.carousel-caption {
    top: 10%;
}
button.owl-prev{
	left: -25px;
}
.carousel-caption h1 {
    font-size: 45px;
}
button.owl-next{
	right: -25px;
}
.team figure img {
    height: 175px;
    object-fit: cover;
}
.flexslider{
    clear: both;
}
.list-div-body{
    padding-top: 40px;
}
.prodtfo{
    clear: both;
}
.team-section-in{
    clear: both;
    padding-top: 20px;
}
.chapter-titles h3 {
    padding-top: 30px;
}
.grid-item img{
    object-fit: cover;
}
}
@media only screen and (max-width:767px) {
.carousel-inner::before{
  content: none;
}
.carousel-inner::after{
  content: none;
}
.navbar {
    padding: 0 15px !important;
}
.navbar-collapse{
    position: absolute;
    top: 90px;
    background: #ec2931;
    z-index: 99;
    width: 100%;
    left: 0;
}
}

@media only screen and (max-width:640px) {
.who-we-are-content h2, .core-programs h2, .popular-services h2, .gallery_section h2, 
.testimonial-bg h2, .our-consultant h2, .latest-news h2
{
  font-size: 18px;  
}
.list-div-body{
    padding-top: 40px;
}

.list-div-body h4 {
    font-size: 1rem;
}
.header { 
    height: auto;
    line-height: initial;
}
.latest-news .card{
    margin-bottom: 15px;
}
.btn.learn-more { 
    padding: 10px 20px; 
}
.carousel-caption .btn {
    padding: 0 10px;
}
.carousel-caption ul{
    padding-left: 0;
}
.carousel-caption{
    right: 5%;
    left: 5%;
}
.carousel-caption h1 small {
    font-size: 16px;
}
.carousel-caption h1{
    font-size: 25px;
}
.team figure img {
    height: auto;
    width: 150px !important;
}
.post-image img {
     width: 500px;
    height: 225px;
    object-fit: cover;
}
.contact{
   display:inline-block !important;
}
.header ul{
    text-align: center;
    padding-left: 0px;
}
.social {
    padding-top: 15px;
}
.social ul {
    margin-bottom: 10px;
}
ul.contact li{
    font-size: 13px;
}
ul.contact li:first-child {
    padding-bottom: 10px;
}
h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
}
.carousel-caption {
    top: 0%;
}
.post-auth li {
    margin-right: 10px;
    font-size: 14px;
}
.blog-section .card, .team-section .card, .colmun-section .card {
    margin-bottom: 15px;
}
.tab-section .container {
    padding-left: 0;
    padding-right: 0;
}



}