* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Neon', cursive;
}
.logo-section{
    width: 300px;
}
.logo-section img{
    width: 100%;
}